.box18{
  display: inline-block;
  margin:2em 0;
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px #ffcb8a;
  border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px #ffcb8a;
  border-radius: 50%;
}
.box18:after {
  top:-12px;
  left:-12px;
}
.box18:before {
  bottom:-12px;
  right:-12px;
}
.box18 p {
  margin: 0; 
  padding: 0;
}

.box29 {
  display: inline-block;
  margin: 2em 0;
  background: #dcefff;
}
.box29 .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box29 p {
  padding: 15px 20px;
  margin: 0;
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}
 
dialog::backdrop {
  /* 背景を半透明のブラックにする */
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.btn-flat-horizontal-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ff7f7f;
  transition: .4s;
}

.btn-flat-horizontal-border > span {
  border-bottom: solid 2px #FFF;
  border-top: solid 2px #FFF;
}

.btn-flat-horizontal-border:hover span {
  padding: 0.1em 0;
}