@font-face {
	font-family: PixelMplus10-Regular;
	src: url("Font/PixelMplus10-Regular.ttf") format("truetype");
}

body{
  
  /* 画像ファイルの指定 */
  background-image: url("picture/map.png");
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

.box1{
  display: inline-block;
  margin-right: auto;
  margin-left: 10%;
  position: absolute;
  padding: 20px;
  border: solid 2px #ffcb8a;
  /* width: 1000px; */
  width: 75%;
  height: 100px;
  top: 75%;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 40px;
  font-family: PixelMplus10-Regular;
	src: url("Font/PixelMplus10-Regular.ttf") format("truetype");
}

.box1:before,.box1:after
{
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px #ffcb8a;
  border-radius: 50%;
}
.box1:after {
  top:-12px;
  left:-12px;
}
.box1:before {
  bottom:-12px;
  right:-12px;
}
.box1 p {
  margin: 0; 
  padding: 0;
}

.box2 {
  display: inline-block;
  margin: 2em 0;
  background: #dcefff;
}
.box2 .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box2 p {
  padding: 15px 20px;
  margin: 0;
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}
 
dialog::backdrop {
  /* 背景を半透明のブラックにする */
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.btn-flat-horizontal-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ff7f7f;
  transition: .4s;
}

.btn-flat-horizontal-border > span {
  border-bottom: solid 2px #FFF;
  border-top: solid 2px #FFF;
}

.btn-flat-horizontal-border:hover span {
  padding: 0.1em 0;
}

/* 重ねるボックスの設定 */
.layer-in{
  /* ボックス配置指定 */
  position: absolute;
  margin: 5% 34%;
  text-align: center;
}

/* みずどりの基本設定 */
#MonsterImage{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: 350px;
}